@font-face {
  font-family: 'Akira Expanded';
  src: url('./AkiraExpanded.otf/Akira\ Expanded\ Demo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: linear-gradient(-45deg, #334e2f, #022407, #91c1c9, #77b3bd);
  background-size: 400% 400%;
  animation: gradientMove 15s ease infinite;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 20px 40px;
  min-height: 100vh;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.titulo-principal {
  position: fixed; /* trava o título no topo */
  top: 0;
  left: 0;
  width: 100%;
   padding: 20px 0;
  text-align: center;
  z-index: 999; /* para ficar acima do resto do conteúdo */
}

.titulo-principal h1 {
  font-size: 40px;
  color: #fff;
  font-family: 'Akira Expanded', sans-serif;
  letter-spacing: 2px;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}

.card {
  background-color: rgba(47, 68, 71, 0.9);
  width: 300px;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.card img {
  border-radius: 50%;
  margin-bottom: 16px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.card h2,
.card p,
.card a {
  color: #fff;
}

.card strong {
  color: #6B8E23;
}

.card a {
  display: block;
  text-decoration: none;
  background-color: #39727B;
  margin-top: 10px;
  padding: 8px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 15px;
  transition: 0.4s;
}

.card a:hover {
  background-color: #4ca0a8;
  color: #141414;
}

.sobre-nos {
  max-width: 900px;
  text-align: center;
}

.texto-sobre p {
  color: #ccc;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
}

.texto-destaque {
  background-color: rgba(39, 81, 46, 0.9);
  padding: 20px;
  border-radius: 10px;
}

.texto-destaque p {
  color: #fff;
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 12px 60px;
  background: transparent;
}

header .secao1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img {
  height: 40px;
}

header .menu {
  display: flex;
  gap: 32px;
  align-items: center;
}

header .menu a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  transition: 0.3s;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
  font-family: 'Akira Expanded', sans-serif;
}

header .menu a:hover {
  color: #00ffcc;
}

header .menu .login-btn {
  border: 1px solid #fff;
  padding: 6px 16px;
  border-radius: 5px;
  transition: 0.3s;
}

header .menu .login-btn:hover {
  background: #fff;
  color: #000;
}
