@font-face {
    font-family: 'Akira Expanded';
    src: url('./AkiraExpanded.otf/Akira\ Expanded\ Demo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../imagens/cadastro.png); 
    background-size: cover;
    background-position: center;
} 

.container {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 15px;
    color: #fff;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    backdrop-filter: blur(50px);
}

.container h1, 
.container h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

.input-box, 
.input-group {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.input-box input,
.input-group input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder,
.input-group input::placeholder {
   color: #c5c5c5;
}

.input-box i,
.input-group .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #fff;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin: -10px 0 15px;
    font-size: 14px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 5px;
}

.remember-forgot a {
    text-decoration: none;
    color: #fff;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.login,
.btn {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    margin-top: 10px;
    transition: 0.5s;
}

.login:hover,
.btn:hover {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .3);
    color: #fff;
}

.register-link,
.bottom-text {
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
    color: #fff;
}

.register-link a,
.bottom-text a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register-link a:hover,
.bottom-text a:hover {
    text-decoration: underline;
}


/* MENU DO SITE */
/* MENU */
header.menu {
    width: 100%;
    padding: 20px 40px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    width: 140px;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    color: #fff;
    font-family: "Archivo", sans-serif;
    font-size: 16px;
    transition: 0.3s;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.nav-links a:hover {
    transform: scale(1.08);
    color: #A6FF00;
}

.btn-login {
    border: 1px solid white;
    padding: .4rem .9rem;
    border-radius: 5px;
}

.btn-login:hover {
    background: white;
    color: #000;
}

