@font-face {
    font-family: 'Akira Expanded';
    src: url('./AkiraExpanded.otf/Akira\ Expanded\ Demo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../imagens/login.png);
    background-size: cover;
    background-position: center;
} 

.container {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    color: #fff;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(50px);
}

.container h1 {
    font-size: 36px;
    text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
   color: #c5c5c5;

}

.input-box input:focus {
    border: 2px solid #fff;

}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 5px;
}

.remember-forgot a {
    text-decoration: none;
    color: #fff;

}

.remember-forgot a:hover {
    text-decoration: underline;
}

.login {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin-top: 20px;
}

.login:hover {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    color: #fff;
    transition: 0.5s;
}

.register-link {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register-link a:hover {
    text-decoration: underline;
}

.header-login {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
  }
  
  .header-login .secao1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-login .logo img {
    width: 150px;
  }
  
  .header-login .menu {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
  
  .header-login .menu a {
    color: #fff;
    font-family: "Archivo", sans-serif;
    font-size: 0.95rem;
    transition: 0.3s;
    text-decoration: none;

  }
  
  .header-login .menu a:hover {
    color: #A6FF00;
  }
  
  .header-login .menu a:last-child {
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.4rem 0.9rem;
  }
  
  .header-login .menu a:last-child:hover {
    background: #fff;
    color: #000;
  }
  